fastapi==0.115.12
boto3==1.38.0
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic==2.11.4
python-dotenv==1.1.0
python-pptx==1.0.2
slowapi==0.1.9
celery[redis]==5.5.2
redis==5.2.1
# PubMed search dependencies
pandas==2.2.3
openpyxl==3.1.5
matplotlib==3.9.4
wordcloud==1.9.4
